$color__fondo__btn  :   darken(white, 5);

#logo__youtube{
    height: 2em;
    margin-left: 1em;
}

#titulo{
    font-weight: 900;
    margin-left: .2em;
}

#titulo:hover{
    cursor: pointer;
}

#usuario__img{
    border-radius: 50%;
    cursor: pointer;
    height: 2em;
    width: 2em;
}

.fa-search{
    padding-right: .5em;
}

#header{
    border-bottom: 1px solid lightgray;
    background-color: rgb(245, 245, 245); 
}

.flex-container__header{
    background-color: tomato;
    display: flex;        
    /* flex-direction: row-reverse;  */ 

    justify-content: space-between;
    padding: 1em;
}

.header-derecho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // background-color: steelblue;

    & i{
        color: #aaa;        
    }

    & button {
        background: none;
        border: none;
        cursor: pointer;
    }

    @media screen and (min-width: 900px) {
        width: 65%;        
    }

    & > #buscar {        
        display: flex;
        position: relative; 

        @media screen and(min-width: 900px){
            width: 400px;
        }
        
        & > .inputWithIcon {
            // background-color: greenyellow;
            position: relative;

            & input[type ="text"] {
                border: 2px solid #aaa;
                border-radius: 4px; 
                box-sizing: border-box;
                outline: none;
                padding: 8px;
                transition: 0.3s;
                width: 400px;

                @media screen and (max-width: 900px){
                    display: none;                  
                }
            }
            
            & button#buscar__btn {  
                background-color: $color__fondo__btn;
                border: none;       
                border-left: 2px solid #aaa;     
                box-sizing: border-box;          
                display: inline;

                padding: 8px 2em; 
                position: absolute;
                right: 2px;
                top: 50%;
                transition: 0.3s;     
                transform: translateY(-50%); 

                @media screen and (max-width: 900px){
                    margin-right: 1em;
                    border-radius: 4px;                     
                    border: 2px solid #aaa; 
                }

                &:hover{
                    background-color: darken(white, 10);                    
                }
                
            }
                        
        }

    }

    & .bloque__iconos__avatar {
        // background-color: orange;
        display: flex;
        margin-left: 1em;
        justify-content: space-around;

        & button {
            display: block;
            margin-right: 1em;
            width: 30px;
            height: 30px;
            border-radius: 50%;

            &:hover{
                background-color: lighten($color__fondo__btn, 10);

            }
        }
    }
}

.header-izquierdo{
    // background-color: coral;
    display: flex;

    & #mostrar-nav {
        display: flex;
        a {
            color: black;
            display: flex;
            text-decoration: none;
        }
    }

    // & > #icono-menu {
    //     cursor: pointer;
    // }
} 

