* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background-color: #e6e3e3;
  font-family: 'PT Sans', sans-serif;
  min-width: 440px; }
