$color__texto : darken(darkgray, 15); 
$color__borde : darken(lightgray, 50);
$tam__fuente        :   .8em;

input, label {
	color: darken($color--texto , 20);
	display: block;
	font-size: $tam__fuente; 
	// width: 100%;
}

input[type="text"], input[type="password"] {
	// border-color: $color__borde;
	// border-width: 2px;
	// border-style: solid;
	// border-radius: 5px;
	// -webkit-box-shadow: none;
	// box-shadow: none; 
	// padding: .5em;



	
}

input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus {
	outline: none;
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type="submit"] {
	border: none;
	border-radius: 3px;
}