
.flex-container__video > .video__img{
    height: 350px;
    width: 100%;
}

.flex-container__video--iconos{
    /* background-color: rgba(200, 200, 200); */
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
    padding: .4em 1em 0em 0em;    
    position: relative;
    /* border-bottom: 2px solid darkgray; */
    z-index: 1;
}

.flex-container__video--iconos::after{
    background-color: rgb(211, 211, 211);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;            
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.flex-container__video--iconos > .iconos__visualizaciones{
    /* background-color: chocolate; */
    width: 25%;
}

.flex-container__video--iconos > .iconos__gusta{
    /* background-color: darkcyan; */
    border-bottom: 3px solid darkgray;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.flex-container__video--iconos > .iconos__compartir__guardar{
    /* background-color: darkcyan; */
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.flex-container__video--iconos > .iconos__menu{
    margin-right: 1em;
}

.flex-container__video--info{
    border-bottom: 1px solid lightgray;
    padding-bottom: 1.2em;
}

.flex-container__video--titulo{
    display: flex;
    padding: 1em 0em 0em; 
}

.icono--fa{
    color: darkgray;
}

.iconos__compartir__guardar{
    display: flex;
}

.iconos__compartir__guardar--compartir{
    display: flex;
}

.iconos__compartir__guardar--compartir:hover{
    cursor: pointer;
}

/* .iconos__compartir__guardar--compartir > .icono--fa:hover{
    color: rgb(129, 129, 129);
} */

.iconos__compartir__guardar--compartir > .iconos__compartir__guardar--item{
    color: darkgray;
    margin-left: .5em;
}

/* .iconos__compartir__guardar--compartir > .iconos__compartir__guardar--item:hover{
    color: rgb(129, 129, 129);
} */

.iconos__compartir__guardar--guardar{
    display: flex;
}

.iconos__compartir__guardar--guardar:hover{
    cursor: pointer;
}

.iconos__compartir__guardar--guardar > .iconos__compartir__guardar--item{
    color: darkgray;
    margin-left: .5em;
}

.iconos__gusta--gusta{
    display: flex;
}

.iconos__gusta--gusta:hover{
    cursor: pointer;
}

.iconos__gusta--nogusta{
    display: flex;
}

.iconos__gusta--nogusta:hover{
    cursor: pointer;
}

.iconos__gusta--gusta > .iconos__gusta--item{
    color: darkgray;
    margin-left: .5em;
}

.iconos__gusta--nogusta > .iconos__gusta--item{
    color: darkgray;
    margin-left: .5em;
}

.iconos__menu{
    position: relative;
    z-index: 1;
}

.iconos__menu > #check__id{
    display: none;
}

/* Mostrar el Submenú cuando se de click (se cheque) el icono */
.iconos__menu > #check__id:checked ~ .iconos__menu--submenu{
    display: flex;
} 

/*.iconos__menu > .iconos__menu--item:hover ~ .iconos__menu--submenu {
    display: flex;
} */

.iconos__menu--submenu{
    /* background-color: #bbb; */
    /* border: 1px solid lightgray; */
    box-sizing: border-box;
    box-shadow: 1px 4px 10px rgb(192, 192, 192);
    display: none;
    flex-direction: column;
    list-style: none;
    margin-top: .5em;
    padding: .5em 0em;
    position: absolute;
    right: 0;
    width: 150px;
    z-index: 1000;
}

.iconos__menu--item > label:hover{
    color: rgb(129, 129, 129);
    cursor: pointer;
}

/* Elemento del submenú */
.iconos__menu--submenu__item > .iconos__menu--submenu__item--enlace{
    color: #000;
    display: block;
    font-size: .8em;
    padding: 1.2em 1.1em;
    text-decoration-line: none;
}

.iconos__menu--submenu__item > .iconos__menu--submenu__item--enlace:hover{
    background-color: rgb(235, 235, 235);
}

.info__descripcion{
    margin-left: 5.2em;
}

.info__mostrar--mas{
    
    margin-left: 5.2em;
    margin-top: 1em;
}

.info__mostrar--mas > a{
    color: rgb(121, 121, 121);
    text-decoration: none;
}

.info__suscripciones{
    display: flex;
    align-items: center;
}

.info__suscripciones > a{
    background-color: rgb(231, 231, 231);
    color: rgb(121, 121, 121);
    margin-right: 1em;
    padding: .5em 1em;
    text-align: center;
}

.info__suscripciones > a:hover{
    cursor: pointer;
}

.info__suscripciones--campana{
    cursor: pointer;
}

.info__usuario{
    display: flex;
}

.info__usuario--icono > img{
    height: 2.5em;
    width: 2.5em;
}

.info__usuario--nombre{
    margin-left: 1.7em;
}

.info__usuario--nombre__nombre{
    font-size: 1.2em;
    font-weight: 600;
}

.info__usuario--nombre__fecha--publicado{
    color: darkgray;
    font-size: .9em;
}

.info__usuario__suscripciones{
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
}

.visualizaciones--item, .usuario--item, .subido--item {
    color: darkgray;
}

.video{
    padding: 1.5em;
}

@media (max-width: 1020px){
    .flex-container__video > .video__img{
        max-width: 100%;
        height: auto;
        width: auto/9;
    }
}

@media (min-width: 1021px){
    .flex-container__video > .video__img{
        max-width: 65%;
    }

    body{
        /* background-color: lightcoral; */
    }
} 

@media(min-width: 1110px){
    .flex-container__video > .video__img{
        height: auto;
    }
}
