$color--fondo__menu : #F5F5F5;
$color--texto : darken(darkgray, 25);
$tam__fuente        :   1.2em;


// .menu {
//     // background-color: greenyellow;
//     // display: none;
//     // // visibility: hidden;
//     // min-height: 100vh;    
//     // position: fixed;
//     // width: 300px;

//     background-color: $color--fondo__menu;
//     list-style: none;
//     line-height: 42px;
//     margin: 2em auto;
//     // outline: 1px solid red;
//     padding-left: 0;
//     width: 15em;

//     @media screen and (min-width: 900px){
//         display: flex;
//         // flex-direction: column;
//         // display: none;
 
// INICIO MENU
.menu {
    list-style: none;
    // line-height: 42px;
    margin: 2em auto;
    // outline: 1px solid red;
    // padding-left: 0;
    width: 15em;

    & a {
        color: $color--texto;
        display: block;
        font-size: $tam__fuente;
        font-weight: 700;
        padding-top: .7em;
        padding-bottom: .7em;
        padding-left: 1.2em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover{
            background-color: #DCDCDC;                    
        } 
        
        &.activo{
            background-color: #DCDCDC;
        }

        & > span.icono--fa__activo{ 
            color: red;
            margin-right: .9em;                    
        }

        & .icono--fa, .icono--fa__activo{
            margin-right: .9em;
        }
        // }

    }

    & li {
        // border-left: 3px solid rgba(255, 255, 255, 0.2);
        // box-shadow: 3px 0  rgba(255, 255, 255, 0.2)  inset;
        background-color: #afe;
        // margin-bottom: 5px; 
        // outline: 1px solid green;
        transition: .5s all;

        &:hover {
            // box-shadow: 15em 0 rgba(255, 255, 255, .8) inset;
        }
    }
}
// FIN MENU

// POSICION RESPONSIVE MENU
nav {
    // background-color: rgba(0,0, 0, .8);
    background-color: $color--fondo__menu;

    box-sizing: border-box;
    height: 100%;
    left: -18em;
    // padding-right: 0.5em;
    padding-top: 3em;
    position: absolute;
    top: 0;
    transition: all .3s;
    z-index: 20;

    &.mostrar {
        left: 0;
    }
}

#mostrar-nav {
    // background: url(menu.png);
    // background-color: lime;
    cursor: pointer;
    height: 30px;
    // left: 2em;
    position: absolute;
    // top: 2em;
    width: 30px;
    z-index: 30;
}