@charset "UTF-8";


#check {
  display: none;
}

#check + label {
  width: 3em;
  height: 0.75em;
  background-color: #ebebeb;
  display: block;
  border-radius: 0.75em;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
}

#check + label:before {
  display: block;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -50%;
  background-color: #909090;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
}

#check:checked + label {
  background-color: #ebebeb;
}

#check:checked + label:before {
  background-color: #065fd4;
  left: 1.5em;
}

body {
  padding-bottom: 10em;
}

.enlace__video {
  color: #000;
  height: 100%;
  text-decoration: none;
}

.repr__auto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
}

.repr__auto--checkbox {
  margin-left: .5em;
  padding-top: .4em;
}

.repr__auto > label {
  color: #838383;
}

.siguiente__repr__auto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.siguiente__video__titulo {
  border-bottom: 1px solid lightgray;
  margin-top: 1.5em;
  padding-bottom: 1em;
}

.siguiente__video__titulo,
.video__titulo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.siguiente__titulo,
.__titulo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: .7em;
  width: 100%;
}

.siguiente__video--img > img,
.__video--img > img {
  width: 168px;
  height: 100px;
}

.usuario--item {
  color: darkgray;
}

.video__titulo {
  margin-top: .5em;
}

.video__titulo--1 {
  margin-top: 1.5em;
}

/* Sección */

.video__siguiente {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 1.5em;
}