

.contenedor__inicio{
    // background-color: green;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    padding: .5em;

    @media screen and (min-width: 900px){
        margin-left: 300px;
    }
}

.contenedor__videos{
    display: flex;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.elemento__video{
     width: calc(50% - 1em);
    // background-color: orangered;
    margin: .5em;
    display: flex;
    flex-direction: column;
    // height: 200px;

    @media screen and (min-width: 600px) {
        width: calc(33.33% - 1em);    
    }

    @media screen and (min-width: 900px) {
        width: calc(25% - 1em);   
        // width: calc( 100% / var(--ytd-rich-grid-items-per-row) - 16px - .01px );
    }
  
    a {
        text-decoration: none;
        color: black;
    }

    img { 
        width: 100%;
        height: 150px;
    }

    & .video--titulo {
        // margin-bottom: .5em;
    }
     
    & .video__usuario {
        // background-color: lime;
        display: flex;
        flex-direction: row;
        margin-top: 5px;

        & img {
            height: 36px;
            width: 36px;
            // margin-top: 12px;
            margin-right: 12px;
            border-radius: 50%;
        }

        & .video__datos__video {
            // background-color: lightblue;
        }
    }
}

