.contenedor__inicio {
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: .5em; }
  @media screen and (min-width: 900px) {
    .contenedor__inicio {
      margin-left: 300px; } }

.contenedor__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.elemento__video {
  width: calc(50% - 1em);
  margin: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 600px) {
    .elemento__video {
      width: calc(33.33% - 1em); } }
  @media screen and (min-width: 900px) {
    .elemento__video {
      width: calc(25% - 1em); } }
  .elemento__video a {
    text-decoration: none;
    color: black; }
  .elemento__video img {
    width: 100%;
    height: 150px; }
  .elemento__video .video__usuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 5px; }
    .elemento__video .video__usuario img {
      height: 36px;
      width: 36px;
      margin-right: 12px;
      border-radius: 50%; }
