#logo__youtube {
  height: 2em;
  margin-left: 1em; }

#titulo {
  font-weight: 900;
  margin-left: .2em; }

#titulo:hover {
  cursor: pointer; }

#usuario__img {
  border-radius: 50%;
  cursor: pointer;
  height: 2em;
  width: 2em; }

.fa-search {
  padding-right: .5em; }

#header {
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke; }

.flex-container__header {
  background-color: tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row-reverse;  */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em; }

.header-derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-derecho i {
    color: #aaa; }
  .header-derecho button {
    background: none;
    border: none;
    cursor: pointer; }
  @media screen and (min-width: 900px) {
    .header-derecho {
      width: 65%; } }
  .header-derecho > #buscar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    @media screen and (min-width: 900px) {
      .header-derecho > #buscar {
        width: 400px; } }
    .header-derecho > #buscar > .inputWithIcon {
      position: relative; }
      .header-derecho > #buscar > .inputWithIcon input[type="text"] {
        border: 2px solid #aaa;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        padding: 8px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        width: 400px; }
        @media screen and (max-width: 900px) {
          .header-derecho > #buscar > .inputWithIcon input[type="text"] {
            display: none; } }
      .header-derecho > #buscar > .inputWithIcon button#buscar__btn {
        background-color: #f2f2f2;
        border: none;
        border-left: 2px solid #aaa;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline;
        padding: 8px 2em;
        position: absolute;
        right: 2px;
        top: 50%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media screen and (max-width: 900px) {
          .header-derecho > #buscar > .inputWithIcon button#buscar__btn {
            margin-right: 1em;
            border-radius: 4px;
            border: 2px solid #aaa; } }
        .header-derecho > #buscar > .inputWithIcon button#buscar__btn:hover {
          background-color: #e6e6e6; }
  .header-derecho .bloque__iconos__avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1em;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .header-derecho .bloque__iconos__avatar button {
      display: block;
      margin-right: 1em;
      width: 30px;
      height: 30px;
      border-radius: 50%; }
      .header-derecho .bloque__iconos__avatar button:hover {
        background-color: white; }

.header-izquierdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-izquierdo #mostrar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-izquierdo #mostrar-nav a {
      color: black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-decoration: none; }
