input, label {
  color: #505050;
  display: block;
  font-size: 0.8em; }

input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus {
  outline: none;
  border-color: dodgerBlue;
  -webkit-box-shadow: 0 0 8px 0 dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue; }

input[type="submit"] {
  border: none;
  border-radius: 3px; }
