$color--fondo : lighten(steelblue, 10);
$color--check__fondo : #EBEBEB;
$color--des   : #909090;
$color--act   : #065FD4;
$tam : 1.5em;
$transicion   : all .2s;


@mixin center{
    margin-left: auto;
    margin-right: auto;
}

#check{
    display: none;
    + label{
        width: $tam * 2;
        height: ($tam / 2);
        background-color: $color--check__fondo;
        display: block;
        border-radius: $tam / 2;
        position: relative;
        transition: $transicion;

        @include center;

        &:before{
            display: block;
            content: "";
            width: $tam;
            height: $tam;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: -50%;
            background-color: $color--des;
            transition: $transicion;
            //box-shadow: 0px 0px 40px rgb(90, 90, 90);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6)
        }
    }

    &:checked + label{
        background-color: $color--check__fondo;
        &:before{
            background-color: $color--act;
            left: $tam;
        }
    }
}