.menu {
  list-style: none;
  margin: 2em auto;
  width: 15em; }
  .menu a {
    color: dimgray;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 1.2em;
    text-decoration: none;
    text-transform: uppercase; }
    .menu a:hover {
      background-color: #DCDCDC; }
    .menu a.activo {
      background-color: #DCDCDC; }
    .menu a > span.icono--fa__activo {
      color: red;
      margin-right: .9em; }
    .menu a .icono--fa, .menu a .icono--fa__activo {
      margin-right: .9em; }
  .menu li {
    background-color: #afe;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }

nav {
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  left: -18em;
  padding-top: 3em;
  position: absolute;
  top: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 20; }
  nav.mostrar {
    left: 0; }

#mostrar-nav {
  cursor: pointer;
  height: 30px;
  position: absolute;
  width: 30px;
  z-index: 30; }
