#check {
  display: none;
}
#check + label {
  width: 3em;
  height: 0.75em;
  background-color: #ebebeb;
  display: block;
  border-radius: 0.75em;
  position: relative;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
}
#check + label:before {
  display: block;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -50%;
  background-color: #909090;
  transition: all 0.2s;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
}
#check:checked + label {
  background-color: #ebebeb;
}
#check:checked + label:before {
  background-color: #065fd4;
  left: 1.5em;
}
