$color--fondo   :   rgb(230, 227, 227);

*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $color--fondo;
    font-family: 'PT Sans', sans-serif;
    min-width: 440px;
} 
