@import "estilos__checkbox";

$color--texto : darken(darkgray, 15);
$color--checkbox : steelblue;

body{
    padding-bottom: 10em;
}

.enlace__video{
    color: #000;
    height: 100%;
    text-decoration: none;
}

.repr__auto{
    display: flex;
    margin-right: 1em;
}

.repr__auto--checkbox{
    margin-left: .5em;
    padding-top: .4em;
}

.repr__auto > label{    
    color: $color--texto;
}

.siguiente__repr__auto{
    display: flex;
    justify-content: space-between;
}

.siguiente__video__titulo{    
    border-bottom: 1px solid lightgray;
    margin-top: 1.5em;
    padding-bottom: 1em;
}

.siguiente__video__titulo, .video__titulo{
    display: flex;
}

.siguiente__titulo, .__titulo{
    display: flex;
    flex-direction: column;
    margin-left: .7em;
    width: 100%;
}

.siguiente__video--img > img, .__video--img > img{
    width: 168px;
    height: 100px;
}

.usuario--item{
    color: darkgray;
}

.video__titulo{
    margin-top: .5em;
}

.video__titulo--1{
    //background-color: darkcyan;
    margin-top: 1.5em;
}

/* Sección */
.video__siguiente{
    //background-color: lighten(steelblue, 20);
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
}